/* .navy{ */
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
/* } */

.header-img img{
    margin-top: 15px;
    margin-left: 100px;
}

/* .navy nav{
    margin-top: 8px;
} */

.navy nav ul {
    display: flex;
    margin-left: 345px;
    margin-top: -50px;
}

.navy nav ul li {
    list-style: none;
    /* margin-right: 100px; */
}

.navy nav ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #000000;
 margin-right: 70px; 
 font-family: "Inter", sans-serif;
}


.nav-img-1 {
    margin-left: 945px;
    margin-top: -41px;
}

.nav-img-1 img{
       /* width: 2%; */
    height: 28px;
}

.nav-img-2 {
     margin-left: 1013px;
    margin-top: -32px;
}

.nav-img-2 img{
       /* width: 2%; */
    height: 28px;
}

.nav-img-3 {
    margin-left: 1044px;
    margin-top: -33px;
}

.nav-img-3 img{
       /* width: 2%; */
    height: 28px;
}

.btn{
         margin-left: 1134px;
    margin-top: -40px;
}

.btn-sign{
    outline: none;
    box-shadow: none;
      border: 1px solid  #00A859;
    background: #00A859;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
   
}


.btn-sign:hover {
    background:#fff;
    color:  #00A859;
}

.wish{
    margin-top: 100px;
    text-align: center;
}

.wishs{
     margin-left:280px
    
}
